.ui-dialog {
    padding: unset !important;
}

.ui-widget-overlay {
    background: #aaa;
    opacity: 1;
    background-color: rgba(10,10,10,.4) !important;
}

.ui-widget-header {
    border-color: #0072bc !important;
    background-color: #0072bc !important;
    font-weight: normal;
    color: #fff;
    padding: 4px 4px 1px 8px !important;
}

.ui-dialog .ui-dialog-titlebar-close {
    background-image: url('/contents/images/dialog/tool-sprites.png');
    border-radius: 37px;
    cursor: pointer;
    border: none;
    background-position: 0px 0px;
    width: 16px;
    height: 16px;
    background-color: #0072bc;
    padding: 0px;
    margin: -8px 3px 0px 0px;
}

.ui-widget.ui-widget-content {
    border: 1px solid #0072bc;
    border-radius: 4px !important;
    font-size: 13px;
    font-family: TahomaCustom !important
}

.ui-dialog .ui-dialog-titlebar {
    border-radius: unset;
    font-family: TahomaCustom !important
}

.ui-dialog .ui-dialog-content {
    height: 410px !important;
    border: 4px solid #0072bc;
    border-top: none;
}

.ui-dialog-titlebar-close:focus {
    outline: none;
}

.box-dialog {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

    .box-dialog .header-dialog {
        height: 40px;
        background-color: #e9e9e9;
        border-bottom: 1px solid #ccc;
        width: 100%;
        display: flex;
        /*align-items: center;*/
        padding: 8px 0px 0px 8px;
    }

.header-dialog .header-dialog-title {
    width: 40px;
    height: 22px;
    line-height: 22px;
}

.box-dialog .header-dialog-combobox {
    display: flex;
    border-width: 1px;
    border-style: solid;
    border-color: #c1c1c1 #d9d9d9 #d9d9d9;
    height: 22px;
    margin-left: 4px;
}

.header-dialog-combobox .header-dialog-input {
    width: 91px;
    height: 22px;
    border: none;
    background-color: #fff;
    font-size: 12px;
    padding: 3px 5px;
    font-family: TahomaCustom;
}

    .header-dialog-combobox .header-dialog-input:focus {
        outline: none;
    }

.header-dialog-combobox .header-dialog-icon {
    background-image: url('/contents/images/dialog/trigger.png');
    background-position: 0 center;
    width: 22px;
    height: 22px;
}

.form-dialog {
    display: flex;
    width: 100%;
    padding: 8px;
}

    .form-dialog .form-dialog-left {
        width: 506px;
        height: 308px;
    }


        .form-dialog .form-dialog-left .row-dialog {
            display: flex;
            padding: 2px;
            align-items: center;
        }

        .form-dialog .form-dialog-left .row-for-edit {
            display: none;
        }

        .form-dialog .form-dialog-left .row-dialog .text-dialog {
            color: #000;
            width: 120px;
        }


        .form-dialog .form-dialog-left .row-dialog .text-dialog-warning {
            color: red;
        }

        .form-dialog .form-dialog-left .row-dialog .input-dialog {
            width: 379px;
            height: 22px;
            border: 1px solid #c1c1c1;
            padding: 3px 5px;
        }

        .form-dialog .form-dialog-left .row-dialog .input-dialog-index {
            height: 22px;
            width: 170px;
            border: 1px solid #c1c1c1;
            padding: 3px 5px;
        }

        .form-dialog .form-dialog-left .row-dialog .input-dialog-price {
            height: 22px;
            width: 115px;
            border: 1px solid #c1c1c1;
            padding: 3px 5px;
        }

        .form-dialog .form-dialog-left .row-dialog .textarea-dialog {
            height: 50px;
            border: 1px solid #c1c1c1;
            width: 379px;
            padding: 3px 5px;
        }

        .form-dialog .form-dialog-left .row-dialog .text-dialog-checkbox {
            padding: 0px 4px;
        }

        .form-dialog .form-dialog-left .row-dialog .col-1-dialog {
            display: flex;
        }

        .form-dialog .form-dialog-left .row-dialog .col-2-dialog {
            display: flex;
            align-items: center;
            margin-left: 8px;
        }

        .form-dialog .form-dialog-left .row-dialog .form-option {
            display: flex;
            border: 1px solid #ccc;
        }

            .form-dialog .form-dialog-left .row-dialog .form-option .icon-option-dropdown {
                background-image: url('/contents/images/dialog/trigger.png');
                width: 22px;
                height: 22px;
            }

            .form-dialog .form-dialog-left .row-dialog .form-option .icon-option-add {
                background-image: url('/contents/images/dialog/add-blue-icon.png');
                width: 22px;
                height: 22px;
                background-repeat: no-repeat;
                background-position: center center !important;
            }

            .form-dialog .form-dialog-left .row-dialog .form-option .input-option {
                width: 333px;
                border: none;
            }

.dialog-button {
    display: flex;
}

    .dialog-button .button-left {
        display: flex;
        width: 300px;
        padding: 8px;
    }

        .dialog-button .button-left .button-help {
            width: 75px;
            height: 25px;
            background-color: #fcfcfc;
            border: 1px solid #ccc;
            display: flex;
            align-items: center;
            padding: 4px 8px;
        }

    .dialog-button .dialog-button-icon {
        background-image: url('/contents/images/dialog/iconsprite.png');
        width: 16px;
        height: 16px;
        background-repeat: no-repeat;
    }

    .dialog-button .button-text {
        padding: 3px 5px;
    }

    .dialog-button .button-left .button-icon-help {
        background-position: 0-1600px !important;
    }


    .dialog-button .button-right {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        padding: 8px;
    }

        .dialog-button .button-right .button-save {
            width: 86px;
            height: 25px;
            background-color: #fcfcfc;
            border: 1px solid #ccc;
            display: flex;
            align-items: center;
            padding: 4px 8px;
        }

        .dialog-button .button-right .button-add-save {
            width: 123px;
            height: 25px;
            background-color: #fcfcfc;
            border: 1px solid #ccc;
            display: flex;
            align-items: center;
            padding: 4px 8px;
            margin: 0 8px;
        }

        .dialog-button .button-right .button-cancel {
            width: 91px;
            height: 25px;
            background-color: #fcfcfc;
            border: 1px solid #ccc;
            display: flex;
            align-items: center;
            padding: 4px 8px;
        }

        .dialog-button .button-right .button-icon-save {
            background-image: url('/contents/images/dialog/save16.png');
        }

        .dialog-button .button-right .button-icon-add-save {
            background-image: url('/contents/images/dialog/saveadd16.png');
        }

        .dialog-button .button-right .button-icon-cancel {
            background-image: url('/contents/images/dialog/disable16.png');
        }

    .dialog-button .button-hover:hover {
        background-color: #E8f1EB;
        border: 1px solid #126daf;
        cursor: pointer;
    }
