* {
    box-sizing: border-box;
}

.row-header {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

    .row-header .header-left {
        display: flex;
        height: 100%;
        min-width: 500px;
    }

        .row-header .header-left .header-left-image {
            width: 230px;
            display: flex;
            align-items: center;
            padding: 10px;
            margin-top: 2px;
        }

            .row-header .header-left .header-left-image .header-left-icon {
                background-image: url('/contents/images/header/icon-left-header.png');
                width: 24px;
                height: 24px;
                background-repeat: no-repeat;
                cursor: pointer;
                margin-left: 8px;
                margin-top: 4px;
            }

            .row-header .header-left .header-left-image .header-left-text {
                background-image: url('/contents/images/header/logo-text.png');
                height: 30px;
                width: 100%;
                background-repeat: no-repeat;
                background-position: 2px center;
                cursor: pointer;
                margin-left: 6px;
            }

        .row-header .header-left .header-left-option {
            width: 263px;
            height: 100%;
            display: flex;
            align-items: center;
            margin-left: 10px;
        }

            .row-header .header-left .header-left-option .header-left-form {
                height: 32px;
                width: 228px;
            }

                .row-header .header-left .header-left-option .header-left-form .header-left-input {
                    background-color: #005082 !important;
                    color: #fff;
                    height: 32px;
                    width: 228px;
                    padding: 3px 5px;
                    border: none;
                    font-size: 12px;
                    padding-top: 8px;
                }

            .row-header .header-left .header-left-option .header-left-button {
                background-image: url('/contents/images/header/trigger.png');
                width: 22px;
                height: 32px;
                background-position: 0 center;
                background-color: #005082 !important;
            }

    .row-header .header-right {
        height: 100%;
        width: 100%;
        justify-content: flex-end;
        display: flex;
    }

        .row-header .header-right .header-right-col {
            width: 500px;
            display: flex;
            height: 100%;
            align-items: center;
            justify-content: flex-end;
            margin-right: 12px;
        }

        .row-header .header-right .header-right-option {
            width: 170px;
            height: 100%;
            display: flex;
            align-items: center;
        }

            .row-header .header-right .header-right-option .header-right-form {
                height: 32px;
                width: 148px;
            }

                .row-header .header-right .header-right-option .header-right-form .header-right-input {
                    background-color: #005082 !important;
                    color: #fff;
                    height: 32px;
                    width: 148px;
                    padding: 3px 5px;
                    border: none;
                    font-size: 12px;
                    padding-top: 8px;
                }

            .row-header .header-right .header-right-option .header-right-button {
                background-image: url('/contents/images/header/trigger.png');
                width: 22px;
                height: 32px;
                background-position: 0 center;
                background-color: #005082 !important;
            }

        .row-header .header-right .header-right-icon-globe {
            background-image: url('/contents/images/header/icon_globe.png');
            width: 32px;
            height: 32px;
            background-position: 0 center;
            background-repeat: no-repeat;
            margin-left: 22px;
            margin-bottom: 3px;
        }

        .row-header .header-right .header-right-icon-user {
            background-image: url('/contents/images/header/icon_user.png');
            width: 32px;
            height: 32px;
            background-position: 0 center;
            background-repeat: no-repeat;
            margin-left: 17px;
        }

        .row-header .header-right .header-right-text {
            color: #fff;
            font-size: 13px;
            margin-left: 5px;
        }

        .row-header .header-right .header-right-icon-logout {
            background-image: url('/contents/images/header/icon_logout.png');
            width: 22px;
            height: 32px;
            background-position: 0 center;
            margin-left: 10px;
            background-repeat: no-repeat;
            margin-right: 3px;
            margin-bottom: 2px;
        }